.Join {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: relative;
}

.join-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -62%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Join .logo {
  position: relative;
  margin-bottom: 1rem;
}

.Join .logo img {
  width: 13rem;
}

.Join .logo .brand-name {
  position: absolute;
  color: #ffffff;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 135%);
}

.join-form {
  width: 18rem;
}

.join-form .join-btn {
  width: 100%;
  background-color: #b9321b;
  border: 1px solid #ffffff;
}

.input-name,
.input-room {
  margin-bottom: 0.8rem;
}

.input-room {
  width: 100%;
}
